<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="SenderName" value="Marcin"/>
		<add key="SenderEmail" value=""/> <!--Put Your sending email here-->
		<add key="SenderEmailPassword" value="encrypt:"/> <!--Put Your Password here with "encrypt:" before-->
		<add key="EmailReceiver" value=""/> <!--Put Your Receiver email here-->
		<add key="SendHour" value="18"/>
		<add key="IntervalInMinutes" value="1"/>
		<add key="SendReport" value="true"/>
		
	</appSettings>
</configuration>
