<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="SenderName" value="Marcin"/>
		<add key="SenderEmail" value="oldgymapp@gmail.com"/>
		<add key="SenderEmailPassword" value="encrypt:swlwajsqchfmvgmvw"/>
		<add key="EmailReceiver" value="hirek87@gmail.com"/>
	</appSettings>
</configuration>
